@font-face {
  font-family: 'BodyFont';
  src: url('../../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'HeaderFont';
  src: url('../../assets/fonts/Bebas/BebasNeue-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background: linear-gradient(270deg, #ff96a8, #ffb387, #ff96a8);
  background-size: 600% 600%;
  animation: gradientFlow 10s ease infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tbmHeader {
  background: #fffddf;
  padding: 0;
  box-shadow: 0 1px 20px 0 #333333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  flex-wrap: nowrap;
}

.nav-gr {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-left a, .nav-right a {
  font-family: 'BodyFont', sans-serif;
  background: #fec085;
  padding: 7px 18px;
  border-radius: 41px;
  text-decoration: none;
  color: #333333;
  transition: 0.5s;
  font-size: 25px;
  white-space: nowrap;
}

.nav-left a:hover, .nav-right a:hover {
  background: #ffdb71;
}

.logo {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
}

.logo img {
  width: 600px;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

.loginBox {
  background: white;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid #a9a9a9;
  font-family: 'HeaderFont', sans-serif;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.loginBox h1 {
  font-family: 'HeaderFont', sans-serif;
  color: #333333;
  text-align: center;
  font-size: 90px;
  margin-top: 20px;
  margin-bottom: 0;
}

.loginBox input {
  font-family: 'BodyFont', sans-serif;
  font-size: 25px;
  margin-top: 10px;
  border: 3px solid #a9a9a9;
  width: 90%;
  padding: 10px;
}

.loginBox button {
  font-family: 'BodyFont', sans-serif;
  background: #fec085;
  padding: 7px;
  border-radius: 41px;
  text-decoration: none;
  color: #333333;
  transition: 0.5s;
  font-size: 20px;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  border: none;
}

.loginBox button:hover {
  background: #ffdb71;
}

::placeholder {
  font-family: 'BodyFont', sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #737373;
  opacity: 0.5;
}

.loginBox a:link {
  color: #d58234;
  text-decoration: none;
  font-weight: none;
  font-size: 20px;
  font-style: italic;
  font-family: 'BodyFont' , sans-serif;
}

.loginBox a:hover {
  color: #ed65bc;
}

#preview {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 20px;
  border: 3px solid #ff7bac;
  margin-bottom: 1px;
  margin-top: 0;
}

#errorMsg {
  font-size: 20px;
  font-style: italic;
  color: red;
}

#resetMsg {
  font-size: 20px;
  font-style: italic;
  color: red;
}

.captcha-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.captcha-wrapper label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  font-family: 'HeaderFont', sans-serif;
  font-size: 20px;
  color: #333333;
}

p {
  color: #333333;
  font-size: 20px;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-left a, .nav-right a {
    font-size: 18px;
  }

  .logo img {
    width: 400px;
  }

  .loginBox {
    width: 90%;
    padding: 15px;
  }

  .loginBox h1 {
    font-size: 60px;
  }

  .loginBox input {
    font-size: 20px;
    padding: 12px;
  }

  .loginBox button {
    font-size: 18px;
    padding: 12px;
  }
}

@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-left a, .nav-right a {
    font-size: 20px;
  }

  .logo img {
    width: 450px;
  }

  .loginBox {
    width: 80%;
    padding: 15px;
  }

  .loginBox h1 {
    font-size: 75px;
  }

  .loginBox input {
    font-size: 22px;
    padding: 12px;
  }

  .loginBox button {
    font-size: 20px;
    padding: 12px;
  }
}
